name: Build and Deploy wiki

on: 
  push:
    branches:
      - master
    paths:
    - 'docs/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-18.04
    defaults:
      run:
        working-directory: docs
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build 
        uses: docker://sunshine59/mkdocs-build-action:1.0

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./site
          github_token: ${{secrets.GITHUB_TOKEN}}
